<div ng-if='myinfo.user ==="undefined"'>
    <span>Not Sign up yet.<a ui-sref="public.signup">
               Sign Up Now!</a> </span>
</div>
 <div ng-if='myinfo.user !=="undefined"'>
    <span>First Name:{{myinfo.user.firstname}} </span><br/>
    <span>Last Name: {{myinfo.user.lastname}}</span><br/>
    <span>Phone: {{myinfo.user.phone}}</span><br/>
    <span>Email: {{myinfo.user.email}}</span><br/>
       <div>{{myinfo.user.title}}-----{{myinfo.user.desc}}</div>
        <img class="img-responsive" width="250" height="150" ng-src="{{myinfo.basePath}}/images/{{myinfo.user.mnumber}}.jpg" >
      </div>
    
</div> 